section.home
  .home__aside
    aside.home-aside
      .home-aside__text Нижний Новгород, ул. Петрова, д 23
      .home-aside__button
        button(type="button").button-arrow
          +icon('arrow', 'button-arrow-icon animate__animated animate__fadeInDown animate__infinite alternate')
  .home__content
    .home__content-header
      header.header
        .header__logo
          .logo
            a(href="#").logo__link
              +icon('logo', 'logo__icon')
        nav.header__nav
          - var menuList = [
          -  { title: 'О Жилом Комплексе ', url: '#' },
          -  { title: 'Квартиры', url: '#' },
          -  { title: 'Способы оплаты', url: '#' },
          -  { title: 'Выгодные предложения', url: '#' },
          -  { title: 'Контакты', url: '#' },
          - ];
            ul.fast-nav
              each menuItem in menuList
                li.fast-nav__item
                  a(href=menuItem.url).fast-nav__link #{menuItem.title}
        .header__contacts
          .contacts
            a(href="tel:+78312020212").contacts__phone (831) 202-02-12
            .contacts__button
              button(type="button").button-simple Заказать звонок
    .home__content-body
      .home__slider
        ul.home-slider
          - var homeSliderList = [
          -  { img: `background-image: url(${require("./images/content/home-slider-1.jpg")})`,
          -    sup: 'Поможем осуществить мечту',
          -    title: 'Ваша собственная квартира на берегу Оки',
          -    sub: 'ЖК «Аквамарин» расположен на берегу Оки и досупен для каждого. Мы поможем с выбором лучшего для Вас варианта и проконсультируем по всем вопросам'
          -  },
          -  { img: `background-image: url(${require("./images/content/home-slider-1.jpg")})`,
          -    sup: '2Поможем осуществить мечту',
          -    title: '2Ваша собственная квартира на берегу Оки',
          -    sub: '2ЖК «Аквамарин» расположен на берегу Оки и досупен для каждого. Мы поможем с выбором лучшего для Вас варианта и проконсультируем по всем вопросам'
          -  },
          -  { img: `background-image: url(${require("./images/content/home-slider-1.jpg")})`,
          -    sup: '3Поможем осуществить мечту',
          -    title: '3Ваша собственная квартира на берегу Оки',
          -    sub: '3ЖК «Аквамарин» расположен на берегу Оки и досупен для каждого. Мы поможем с выбором лучшего для Вас варианта и проконсультируем по всем вопросам'
          -  },
          - ];
          each homeSliderItem in homeSliderList
            li.home-slider__item(style=homeSliderItem.img)
              .home-slider__suptitle #{homeSliderItem.sup}
              .home-slider__title #{homeSliderItem.title}
              .home-slider__subtitle #{homeSliderItem.sub}
              .home-slider__button
                button(type="button").button-basic Заказать консультацию
        .home__slider-counter
          button(type="button").button-slder.button-slder_next +
          .counter
            .counter__pages
              span.counter__pages-text_bold
              span.counter__pages-text
          button(type="button").button-slder.button-slder_prev -


      ul.socials.socials_absolute
        - var socialList = [
        -  { social: 'instagram', url: '#' }, { social: 'facebook', url: '#' },
        -  { social: 'youtube', url: '#' }, { social: 'twitter', url: '#' },
        - ];
        each socialItem in socialList  
          li.socials__item
            a(href=socialItem.url).socials__item-link
              +icon(socialItem.social, 'socials__item-icon')